<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/styles/index.css">
  <title>Meetup Page Draft</title>
</head>
<body>
<div id="app">
  <div>
    <div class="meetup-cover" :style="`--bg-url:url(${meetup.img})`">
      <h1 class="meetup-cover__title">{{meetup.title}}</h1>
    </div>

    <div class="container">
      <div class="meetup">
        <div class="meetup__content">
          <h3>Описание</h3>
          <p class="meetup-description">{{meetup.description}}</p>

          <h3>Программа</h3>
          <div class="meetup-agenda">
            <p class="meetup-agenda__empty" v-if="!rawMeetup.agenda">Программа пока пуста, но когда-нибудь в ней обязательно что-нибудь появится!</p>
            <div class="meetup-agenda__item" v-for="(item, key) in rawMeetup.agenda" :key="key">
              <div class="meetup-agenda__item-col">
                <img class="icon" alt="icon" :src="`/assets/icons/icon-${agendaIcons[item.type]}.svg`" />
              </div>
              <div class="meetup-agenda__item-col">{{item.startsAt}} - {{item.endsAt}}</div>
              <div class="meetup-agenda__item-col">
                <h5 class="meetup-agenda__title" v-if="item.title">{{item.title}}</h5>
                <h5 class="meetup-agenda__title" v-else>{{titles[item.type]}}</h5>
                <p v-if="item.speaker || item.language">
                  <span v-if="item.speaker">{{item.speaker}}</span>
                  <span v-if="item.speaker" class="meetup-agenda__dot"></span>
                  <span v-if="item.language" class="meetup-agenda__lang">{{item.language}}</span>
                </p>
                <p v-if="item.description">{{item.description}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="meetup__aside">
          <ul class="info-list">
            <li>
              <img class="icon info-list__icon" alt="icon" src="/assets/icons/icon-user.svg" />
             {{ meetup.organizer }}
            </li>
            <li>
              <img class="icon info-list__icon" alt="icon" src="/assets/icons/icon-map.svg" />
              {{ meetup.place }}
            </li>
            <li>
              <img class="icon info-list__icon" alt="icon" src="/assets/icons/icon-cal-lg.svg" />
              <time :datetime="meetup.newDate.dateMAchine"> {{ meetup.newDate.dateNormal }}</time>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="script.js"></script>
</body>
</html>
